.asjgd{
  flex-wrap: wrap;
  text-align: center;
  background-color: #f8f8f8;
  justify-content: space-evenly;
  outline: none;
  border: 1px solid #ccc;
  transform: scale(1.2);
  transition: all 0.5 ease-in;
}

